<% title = 'TCC | About Us' %>

<%- include('partials/header') %>

    <h2>About Us</h2>
        <h4>Vision Statement</h4>
           <p>Trillions, Silicon Valley</p>

        <h4>Mission Statement</h4>
           <p>We teach people how to code, helping them develop a succesful career in it;
                irrespective of their academic background.
           </p>

        <h4>Core Values</h4>
           <ul>
                <li>Discipline</li>
                <li>Consistency</li>
                <li>Money-Driven</li>
                <li>Laser-Focus</li>
                <li>Goal-Driven</li>
           </ul>





<%- include('partials/footer') %>