<% title = 'TCC | Courses' %>

<%- include('partials/header') %>

    <h3>Our Courses</h3>
    <div class="course">
    <img class ='course-img' src="images/WebDev.jpg" alt="">
    <h3>Web Development</h3>
    <hr>

    <img class ='course-img' src="images/Mobile.jpg" alt="">
    <h3>Mobile Development</h3>
    <hr>

    <img class ='course-img' src="images/UX.jpg" alt="">
    <h3>UI/UX Design</h3>
    <hr>

    <img class ='course-img' src="images/DataScience.jpg" alt="">
    <h3>Data Science</h3>
    <hr>

    <img class ='course-img' src="images/FrontendDevelopment.jpg" alt="">
    <h3>Front-end Development</h3>
    <hr>

    <img class ='course-img' src="images/JavaProgramming.jpg" alt="">
    <h3>Java Programming</h3>
    <hr>
    </div>
   

<%- include('partials/footer') %>
