
<% title = 'TCC | Home' %>
<%- include('partials/header') %>


             <h1 class="jumbotron" style="text-align: center;"><marquee>Welcome to The Code Center</marquee></h1>
             <p>We teach people how to code, helping them develop a successful career</p>
             <a href="/course">
                <h3>Our Programs</h3>
                <ul>
                    <li>Web Development</li>
                    <li>Software Engineering</li>
                    <li>User Experience Design</li>
                    <li>Front-end Development</li>
                    <li>Data Science</li>
                    <li>Java Programming</li>
                    <li>Graphics Design</li>
                </ul>
            
            </a>
         
<%- include('partials/footer') %>